fastapi==0.115.5
uvicorn==0.32.1
gunicorn==23.0.0
psycopg2-binary==2.9.10
sqlalchemy==2.0.36
pydantic==2.10.3
python-multipart==0.0.19
holidays==0.61
openpyxl==3.1.5
Pillow==10.4.0
fastapi-sso>=0.7.0
httpx>=0.23.0,<0.24.0
itsdangerous==2.1.2
